<div class="container">
  <div class="inside__container">
    <div class="screen">
      <div class="screen__content">
        <app-login-feature></app-login-feature>

        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4">
          </span>
          <span class="screen__background__shape screen__background__shape3">
          </span>
          <span class="screen__background__shape screen__background__shape2">
          </span>
          <span class="screen__background__shape screen__background__shape1">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  1 2 3
</div> -->
