<div class="container">
  <div class="inside__container">
    <div class="screen">
      <div [ngSwitch]="url" class="screen__content">
        <!-- <app-login-feature *ngSwitchCase="'/login'"></app-login-feature>
        <app-register *ngSwitchCase="'/register'"></app-register> -->
        <router-outlet></router-outlet>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4">
          </span>
          <span class="screen__background__shape screen__background__shape3">
          </span>
          <span class="screen__background__shape screen__background__shape2">
          </span>
          <span class="screen__background__shape screen__background__shape1">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  1 2 3
</div> -->
