<form
  nz-form
  [formGroup]="validateForm"
  class="login"
  (ngSubmit)="submitForm()"
>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorMail">
        <nz-input-group nzPrefixIcon="mail" class="login__input">
          <input
            type="text"
            nz-input
            class="input__sl"
            formControlName="email"
            id="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
      <ng-template #errorMail let-control>
        <ng-container *ngIf="control.hasError('required')">Please enter your email!</ng-container>
        <ng-container *ngIf="control.hasError('invalid')">
            Invalid Email Format!
        </ng-container>
      </ng-template>
    </nz-form-item>
  </div>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="mail" class="login__input">
          <input
            type="text"
            nz-input
            class="input__sl"
            formControlName="username"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorPass">
        <nz-input-group
          nzPrefixIcon="lock"
          class="login__input"
          [nzSuffix]="suffixTemplate"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            type="password"
            nz-input
            class="input__sl"
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
      <ng-template #errorPass let-control>
        <ng-container *ngIf="control.hasError('required')">Please enter your password!</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          Your password need to have at least 1 uppercase, 1 lowercase, 1 number, 1 special character and no emoji!
        </ng-container>
      </ng-template>
      <ng-template #suffixTemplate>
        <i
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></i>
      </ng-template>
    </nz-form-item>
  </div>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <nz-input-group
          nzPrefixIcon="lock"
          class="login__input"
          [nzSuffix]="suffixTemplate"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            type="confirmPassword"
            class="input__sl"
            nz-input
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            
          />
        </nz-input-group>
      </nz-form-control>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
      <ng-template #suffixTemplate>
        <i
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></i>
      </ng-template>
    </nz-form-item>
  </div>
  <div nz-row>
    <div nz-col>
      <h3 class="font__color">Have an account?&nbsp; <a routerLink="/authentication/login" class="a__link">Login</a></h3>
    </div>
  </div>
  <button nz-button class="button login__submit" [nzType]="'primary'">
    Register
  </button>
</form>

