<form
  nz-form
  [formGroup]="validateForm"
  class="login"
  (ngSubmit)="submitForm()"
>
  <h1 class="a__link">Forgot password</h1>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="mail" class="login__input">
          <input
            type="text"
            nz-input
            class="input__sl"
            formControlName="userName"
            placeholder="Username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <!-- </div> -->
  <button nz-button class="button login__submit" [nzType]="'primary'">
    SUBMIT
  </button>
</form>
<div class="social-login">
  <h3 class="h3__link">
    Remember password?
    <br />
    <a routerLink="/authentication/login" class="a__link">Sign In</a>
  </h3>
</div>
