<form
  nz-form
  [formGroup]="validateForm"
  class="login"
  (ngSubmit)="submitForm()"
>
  <div class="login__field">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your email!">
        <nz-input-group nzPrefixIcon="mail" class="login__input">
          <input
            type="text"
            nz-input
            class="input__sl"
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <!-- <div class="login__field"> -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your Password!">
        <nz-input-group
          nzPrefixIcon="lock"
          class="login__input"
          [nzSuffix]="suffixTemplate"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            type="password"
            nz-input
            class="input__sl"
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
      <ng-template #suffixTemplate>
        <i
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></i>
      </ng-template>
    </nz-form-item>
  <!-- </div> -->
  <br>
  <div nz-row>
    <div nz-col>
      <a routerLink="/authentication/forgot-password" class="a__link">Forgot password</a>
    </div>
  </div>
  <button nz-button class="button login__submit" [nzType]="'primary'">
    Login
  </button>
</form>
<div class="social-login">
  <h3 class="h3__link">
    Have no account?
    <br />
    <a routerLink="/authentication/register" class="a__link">Sign Up</a>
  </h3>
</div>
