//Copied
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
.login {
	width: 90%;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 8% 0px;	
	position: relative;	
}



.login__input {
    border: none;
    outline: none;
    background-color: transparent;
	border-bottom: 2px solid #D1D1D4;
	// background: red;
	font-weight: 700;

	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    border: none;
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 30%;
	width: 50%;
    padding-top: 15%;  
    text-align: center; 
	bottom: 0px;
	right: 0px;
	color: #fff;
    border-radius: 50%;    
    background: white;
}
.h3__link{
    position: relative;
    margin: auto;
    @extend .font__color;
}

.font__color{
    color: #7673bb;
}
.a__link {
    @extend .font__color;
    font-weight : bold;
}